<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.movie_tinder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="What to Watch"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".startPage"
            android:label="@string/title_activity_start_page"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".ListMatches" />
        <activity android:name=".SelectPlayType" />
        <activity android:name=".SelectionActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".RegisterationActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".ChooseLoginRegisterationActivity"
            tools:ignore="ExtraText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService"
            android:exported="false"></service>
    </application>

</manifest>